@import "../../App";

.analytics-container {
    // min-height: 279px;
    color: $main-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-around;
}