$main-color: #003d45;
$secondary-color: #006064;
$accent-color: #00bcd4;
$red: #ff4d4d;

@mixin active-icon($color) {  
  &:hover, &:focus, &:active {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    color: darken($color, 10%);
  }
}

.d-flex {
  display: flex;
}

body {
  background-image: url("src/assets/pexels-pixabay-40568.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fff;
  color: #fff;

}

#root {
  width: 66%;
  min-width: 1000px;
  min-height: 80vh;
  margin: 2.5rem auto;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Spinner styles */
.MuiCircularProgress-svg {
  color: $secondary-color;
}


.title {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-weight: 150;
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  color: $main-color;
  text-decoration: underline;
}

form {
  .form-control, button {
    margin-top: 2rem;
  }

  .MuiFormControl-root.MuiPickersTextField-root.date {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .MuiInputBase-root {
    border: .5px solid #1d1b1b;
    padding: 8px 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    transition: 'all 0.3s ease-in-out';
    border-radius: 4px;

    &.Mui-disabled {
      box-shadow: none;
    }
  }

  .chips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;

    .custom-chip { // based on Material MUI Chip .MuiChip-label .MuiChip-labelMedium
      display: -webkit-inline-box;
      justify-content: center;
      position: relative;
      user-select: none;
      max-width: 100%;
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      font-size: 0.8125rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      border-radius: 16px;
      white-space: nowrap;
      transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      cursor: unset;
      outline: 0;
      text-decoration: none;
      border: 0;
      padding: 0 0 0 12px;
      vertical-align: middle;
      box-sizing: border-box;
      // &:nth-of-type(odd) {
        background-color: $main-color;
      // }
      // &:nth-of-type(even) {
        // background-color: $secondary-color;
      // }
      color: #fff;
      margin: 5px 5px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);

      .operation-btns {
        background-color: $secondary-color;
        margin-left: 5px;
        padding-left: 2.5px;
        padding-right: 12px;
        border-radius: 0 16px 16px 0;
        height: 32px;
        display: flex;
        align-items: center;
      }
      .operation-btn {
        font-size: 12px;
        margin-left: 5px;
        cursor: pointer;
        &:hover, &:focus, &:active {
          color: darken(#fff, 20%);
          transform: scale(1.2);
          transition: transform 0.2s ease-in-out;
        }
      }
      .close-btn {
        font-size: 12px;
        margin-right: 7.5px;
        margin-top: 2px;
      }
      input[type="number"] {
        font-size: 12px;
        width: fit-content;
        max-width: 20px;
        margin: 0 0 2px 6px;
        padding-left: 6px;
        color: white;

        &:focus {
          outline: none;
          background-color: $secondary-color;
        }
      }
    }
  }

.submit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    
    button[type="submit"] {
      display: flex;
      align-items: center;
      background-color: #536584;
      backdrop-filter: saturate(10);
      color: white;
      padding: 10px 20px;
      font-weight: 200;
      letter-spacing: 1px;
      border: #fff .5px solid;
      margin-top: 1rem;
      margin-bottom: 1rem;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

      &:hover, &:focus, &:active {
        backdrop-filter: saturate(3);
        color: #fff;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
        border: none;
      }
      &:disabled {
        background-color: transparent;
        backdrop-filter: saturate(90%);
        color: #666;
        cursor: not-allowed;
        box-shadow: none;

        &:hover, &:focus, &:active {
          border: #fff .5px solid;
        }
      }
    }
  }
  .form-status {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1rem;
    color: #fff;
    padding: .5rem;
    border-radius: 2px;
    min-width: 20rem;
    text-align: center;
    font-weight: 300;
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);

    &.success {
      background-color: #6dbf73;
    }
    &.loading {
      backdrop-filter: saturate(90%);
      border: 1px solid rgba(255, 255, 255, 0.18);
      color: #666666;
    }
    &.error {
      background-color: $red;
    }
  }
}

.totals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 1rem;
  
  .MuiChip-root {
    margin-right: 10px;
    
    &.info {
      backdrop-filter: grayscale(50%);
      border-radius: 5px;
      font-weight: 900;
    }
    &.button {
      background-color: transparent;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
      align-self: center;
      border: #fff .5px solid;
      cursor: pointer;
      &:hover, &:focus, &:active {
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

/* Table styles */
.MuiTable-root {
  width: 100%;
  margin-top: 10px;
  // box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #fff;
  // opacity: 0.5;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  border-radius: 5px;
}

.search-input {
  width: 100%;
  padding: 6px;
  font-size: 1rem;
  border: none;
  color: $secondary-color;
  background-color: transparent;
  &:focus {
    outline: 1px solid $secondary-color;
    border-radius: 4px;
  }
}

th {
  color: $main-color;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  .th-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    .sort-icons {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      cursor: pointer;
      color: $secondary-color;


      .karet {
        font-size: 10px;
        &:hover {
          color: $accent-color;
        }
      }
    }

    .searchToggle {
      margin-right: 10px;
      cursor: pointer;
      color: $secondary-color;
      &:hover, &:focus, &:active {
        color: $accent-color;
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}
td {
  text-align: center;
  font-weight: 300;

  .operator {
    color: $secondary-color;
    font-weight: 600;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
    &:first-of-type {
      margin-right: 10px;
    }
    &:hover, &:focus, &:active {
      color: $main-color;
      transform: scale(1.9);
      transition: transform 0.2s ease-in-out;
    }
  }
}
input[type="number"] {
  width: 25px;
  background-color: transparent;
  border: none;
  color: #000;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield; // Firefox

  // change up and down arrows to white
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    color: #fff;
  }
  &::-webkit-input-placeholder {
    color: #fff;
  }
  &:-ms-input-placeholder {
    color: #fff;
  }
  &::placeholder {
    color: #fff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
  }
}

#remove-icon {
  color: $red;
  cursor: pointer;
  &:hover, &:focus, &:active {
    @include active-icon($red);
  }
}

.dialog .MuiPaper-root {
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.remove-dialog {
  min-width: 800px;
  background-color: $red;
  color: #fff;
  letter-spacing: 1px;

  p, Button {
    color: #fff;
    font-weight: 500;
  }

  table {
    width: 100%;
    margin-top: 10px;
    border: solid 1px #fff;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
  }
}