$main-color: #003d45;
$secondary-color: #006064;
$accent-color: #00bcd4;
$red: #ff4d4d;

@mixin active-icon($color) {  
  &:hover, &:focus, &:active {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    color: darken($color, 10%);
    // color.adjust($color, $lightness: 10%);
  }
}

.d-flex {
  display: flex;
}

body {
  background-image: url("src/assets/pexels-pixabay-40568.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fff;
  color: #fff;

}

#root {
  width: 66%;
  min-width: 1000px;
  min-height: 80vh;
  margin: 2.5rem auto;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.title {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-weight: 150;
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  color: $main-color;
  text-decoration: underline;
}
